<section id="edit-container">
    <div class="edit-container-info">
    
        <img src="/style/img/blog-img12.jpg" alt="image">

        {{#with publication}}
        <form action="/edit/{{_id}}" method="post" class="container-text">
            <h2>Edit</h2>
            <p>Edit your masterpiece!</p>

            <label for="title">Title:</label>
            <input type="text" id="title" name="" value="{{title}}">

            <label for="painting-tech">Painting technique:</label>
            <input type="text" id="painting-tech" name="" value="{{tech}}">

            <label for="picture">Art picture:</label>
            <input type="text" id="picture" name="" value="{{picture}}">

            <label for="certificate">Certificate of authenticity:</label>
            <input type="text" id="certificate" name="" value="{{certificate}}">

            <button class="edit-btn">Edit</button>
        </form>
        {{/with}}

    </div>
</section>